# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional — uncomment if you want to ignore)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Generated plugin registrant (web)
lib/generated_plugin_registrant.dart

# Platform ephemeral dirs
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Custom ignored file
# lib/services/firebase_service.dart
# lib/services/firebase_service_dev.dart
# lib/services/firebase_service_prod.dart 